
<div>
    <button (click)="getArtists()">Get Artists</button>
    <button (click)="deleteArtist()">Delete</button>
</div>
<br>

<ng-container *ngIf="artists$ | async as artistsData" [ngSwitch]="artistsData.status">
    <ng-container *ngSwitchCase="status.IDLE">Click the above button to see all the artists.</ng-container>
    <ng-container *ngSwitchCase="status.FAILED">No artists available.</ng-container>
    <ng-container *ngSwitchCase="status.LOADING">Loading...</ng-container>
    <ng-container *ngSwitchCase="status.SUCCESS">
        <ul>
            <li *ngFor="let artist of artistsData.artists">
                <strong>{{artist.name}}</strong>
            </li>
        </ul>
    </ng-container>
</ng-container>
    

