
<div class="home-container">
    <div class="buttons">
        <button #myButton mat-raised-button color="primary">Get Artists</button>
        <button #delete mat-raised-button color="warn">Delete Artist</button>
    </div>
    <!-- Will add images later -->
    <!-- <div><img src="https://picsum.photos/150" alt=""></div> -->
    <div class="data-container">
        <ng-container *ngIf="artists$ | async as artistsData">
            <ng-template #elseCase>{{artistsData.status}}</ng-template>
            <ng-container *ngIf="artistsData.status === curStatus.SUCCESS else elseCase">
                <section class="artists-list">
                    <mat-card *ngFor="let artist of artistsData.artists" >
                        <mat-card-header>
                          <mat-card-title>{{artist.name}}</mat-card-title>
                          <!-- <mat-card-subtitle>End</mat-card-subtitle> -->
                        </mat-card-header>
                        <mat-card-actions align="end">
                          <button mat-button>Open</button>
                          <button mat-button>Add to Playlist</button>
                        </mat-card-actions>
                      </mat-card>
                </section>
            </ng-container>
        </ng-container>
        
    </div>
</div>


    

